{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.16/b-1.5.1/datatables.min.css"/>
{% endblock %}

{% block title %}Registros{% endblock %}

{% block body %}

<div class="container-fluid">
    <h4 class="my-4 text-secondary">Lista de registros</h4>


    <table id="registry" class="table table-sm table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apaterno</th>
                <th>Institución</th>
                <th>Género</th>
                <th>Correo</th>
                <th>Avance</th>
                <th>Profesor</th>
                <th>Correo</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
        {% for registro in registros %}
            <tr>
                <td><a href="{{ path('registro_show', {'slug': registro.slug}) }}">{{ registro.slug }}</a></td>
                <td>{{ registro.nombre }}</a></td>
                <td>{{ registro.apaterno }}</td>
                <td>{{ registro.institucion }}</td>
                <td>{{ registro.genero ? 'Masculino' : 'Femenino' }}</td>
                <td>{{ registro.correo }}</td>
                <td>{{ registro.porcentaje }}%</td>
                <td>{{ registro.profesorInst }}</td>
                <td>{{ registro.profesorCorreo }}</td>
                <td>
                    <a href="{{ path('registro_show', {'slug': registro.slug}) }}">Ver</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.16/b-1.5.1/b-html5-1.5.1/datatables.min.js"></script>

    <script>
        $(document).ready(function() {
            $('#registry').DataTable({
                pageLength: 15,
            } );
        } );
    </script>
{% endblock %}