{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.16/b-1.5.1/datatables.min.css"/>
{% endblock %}

{% block title %}Registros{% endblock %}

{% block body %}


        <h4 class="my-4 text-secondary">{{ registros|length }} solicitudes</h4>

        {% set recomendados, evaluados, aceptados, confirmados  = 0,0,0,0 %}
        {% for registro in registros %}
            {% if registro.referencia != null %}
                {% set recomendados = recomendados + 1  %}
            {%  endif%}
            {% if registro.aceptado != null or registro.confirmado != null or registro.comentarios != null %}
                {% set evaluados = evaluados + 1  %}
            {%  endif%}
            {% if registro.aceptado == true  %}
                {% set aceptados = aceptados + 1  %}
            {%  endif%}
            {% if registro.confirmado == true  %}
                {% set confirmados = confirmados + 1  %}
            {%  endif%}
        {% endfor %}


        <div class="row">
            <div class="col-3">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Recomendados
                        <span class="badge badge-primary badge-pill">{{ recomendados }}</span>
                    </li>
                </ul>
            </div>
            <div class="col-3">
                <ul>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Evaluados
                        <span class="badge badge-primary badge-pill">{{ evaluados }}</span>
                    </li>
                </ul>
            </div>
            <div class="col-3">
                <ul>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Aceptados
                        <span class="badge badge-primary badge-pill">{{ aceptados }}</span>
                    </li>
                </ul>
            </div>
            <div class="col-3">
                <ul>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Confirmados
                        <span class="badge badge-primary badge-pill">{{ confirmados }}</span>
                    </li>
                </ul>
            </div>
        </div>


        <table id="registry" class="table table-sm table-striped table-bordered table-hover" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apaterno</th>
                <th>Institución</th>
                <th>Género</th>
                <th>Correo</th>
                <th>Avance</th>
                <th>Profesor</th>
                <th>Correo</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            {% for registro in registros %}
                <tr>
                    <td><a href="{{ path('registro_show', {'slug': registro.slug}) }}">{{ registro.slug }}</a></td>
                    <td>{{ registro.nombre }}</a></td>
                    <td>{{ registro.apaterno }}</td>
                    <td>{{ registro.institucion }}</td>
                    <td>{{ registro.genero }}</td>
                    <td>{{ registro.correo }}</td>
                    <td>{{ registro.porcentaje }}%</td>
                    <td>{{ registro.profesorInst }}</td>
                    <td>{{ registro.profesorCorreo }}</td>
                    <td>
                        <a href="{{ path('registro_show', {'slug': registro.slug}) }}"><i class="fa fa-search-plus" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="10">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.16/b-1.5.1/b-html5-1.5.1/datatables.min.js"></script>

    <script>
        $(document).ready(function() {
            $('#registry').DataTable({
                pageLength: 15,
            } );
        } );
    </script>
{% endblock %}