{% extends 'base.html.twig' %}

{% block title %}Registro{% endblock %}

{% block body %}

    <div class="mt-5">
        <nav aria-label="breadcrumb ">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('registro_index') }}">Todos los registros</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{  registro.slug }}</li>
                <li class="breadcrumb-item active"><small>Creación: {{ registro.createdAt|date }}</small></li>
                <li class="breadcrumb-item active"><small>Modificación: {{ registro.modifiedAt|date }}</small></li>

            </ol>
        </nav>
    </div>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{{ registro.nombre }} {{ registro.apaterno }} <small>{{ registro.genero }}</small></h4>
                    <p class="card-text">
                        {{ registro.correo }}
                    </p>
                    <p class="card-text">{{ registro.institucion }}, {{ registro.porcentaje }}%</p>
                    <p class="card-text">Profesor: {{ registro.profesorInst }}, {{ registro.profesorCorreo }}</p>
                    <a href="{{ vich_uploader_asset(registro, 'credencialFile') }}" class="card-link" target="_blank">Identificación</a>
                    <a href="{{ vich_uploader_asset(registro, 'historialFile') }}" class="card-link" target="_blank">Historial académico</a>
                    <button type="button" class="btn btn-primary btn-xs pull-right" data-toggle="modal" data-target="#evalModal">
                        <i class="fa fa-check"></i> Evaluar </button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
